fastapi
openai-whisper
uvicorn
python-multipart
langchain>=0.1.0
openai
python-dotenv
dotenv
ollama
qdrant-client>=1.6.0
pdfminer
pdfminer.six
llama-index-embeddings-ollama
llama-index[all]
langchain-community>=0.0.10
gradio>=4.0.0
langchain-ollama>=0.1.0
sentence-transformers
qdrant-client[fastembed]
qdrant-client[fastembed-gpu]
langgraph