fastapi
openai-whisper
uvicorn
python-multipart
langchain>=0.1.0
openai
python-dotenv
ollama
qdrant-client>=1.6.0
pdfminer.six
llama-index-core
llama-index-readers-file
llama-index-embeddings-ollama
langchain-community>=0.0.10
langchain-ollama>=0.1.0
langgraph
gradio>=4.0.0
sentence-transformers
gtts
# TTS dependencies
cython
soundfile
librosa
inflect
anyascii
flask
pysbd
umap-learn
matplotlib
trainer
coqpit 